<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--MySql-->
  <add name="DosConnMySql" providerName="Dos.ORM.MySql"
      connectionString="Data Source=127.0.0.1;Database=soft;User Id=root;Password=root;" />
  <!--SqlServer-->
  <add name="DosConn" providerName="Dos.ORM.SqlServer9"
      connectionString="server=127.0.0.1;database=DBName;uid=root;pwd=root;" />
</connectionStrings>